div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 1px solid black;
}
.translated{
    transform: perspective(15px) translateZ(-10px)
}

.scaled{
    margin-left: 200px;
    transform: perspective(350px) scaleZ(6) rotateX('45deg') rotateY('30deg');
}